/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('header.css');

$backgroundColor: #f2f2f2;
$boxBgColor: #476C9B;
$codeColor: #7A5C58;
$codeAreaBgColor: #d3cce2;
$h2HeadingBgColor: #8AC4FF;
$h2HeadingFontColor: #5D576B;
$footerFontColor: white;
$footerBgColor: #555;

@mixin codeArea($backgroundColor){
    background-color: $backgroundColor;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px dotted $codeColor;
}

@mixin sampleBox($fontSize){
    color:white;
    font-size: $fontSize;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #222;
    font-family: Verdana, sans-serif, Helvetica;
    font-size: 1em;
    line-height: 1.4;

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
                box-sizing: inherit;
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#body_wrapper{
    background-color: $backgroundColor;
    padding:20px 15px;
    max-width: 1024px;
    margin: auto;
}

#container_boxes {
    display: grid;
    text-align: center;
    grid-template-columns: 325px 325px 325px;
    grid-template-rows: 260px 260px;
    grid-gap: 2px;	

    .box {
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 3px solid $boxBgColor;
        text-align: left;
        padding:5px;

        h2{
            color: $h2HeadingFontColor;
            font-size: 19px;
            text-shadow:4px 4px 0 rgba(0,0,0,0.1);
            text-align: center;
        }

        p{
            font-size: 14px;
        }
    }
}

code{
    display:block;
    font-size: 14px;
    color: $codeColor;
    font-weight: bold;
}

fieldset {
    display: inline-block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    -o-border-image: initial;
       border-image: initial;
}

legend{
    border: 1px solid #ababab;
    padding: 0px 2px;
}

#background_image_fixed{
    background-attachment: fixed;
    background-image: url(../img/lecture03/leafer.png);
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.box2{
    p{
        margin: 5px;
    }
}

#sprite_img{
    border: 2px dashed dimgray;
    margin: 5px 10px;
    padding: 1px;
}

#sprite_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;

    & + dl{
        clear:both;
    }
}

.sprite { 
    background: url('../img/lecture03/sprite.png') no-repeat top left; 
    width: 48px; 
    height: 48px;  
    margin: 5px 12px;
    border: 1px dashed dimgray;
} 

.sprite.facebook { background-position: 0 0; } 
.sprite.spotify { background-position: -58px 0; } 
.sprite.twitter { background-position: -116px 0; } 

.fab{
    width: 40px;
}

.svg_a{
    display:block;
    padding: 2px;
    text-decoration: none;
}

.svg_a:link, .svg_a:visited{
    color: #000;
    text-decoration: none;
}

.svg_a:hover{
    background-color: rgb(124, 124, 124);
    color: #CFEE9E;
}

.svg_wrapper{
    display: inline-block;
    border: 2px solid rgb(124, 124, 124);
    margin: 4px 10px;
}

.box4 code{
    @include codeArea($codeAreaBgColor);
}

.item_box{
    font-size: 13px;
    background-color:#ababab;
	border:solid 1px black;
	padding:0px 5px;
	float:left;
	width:25%;
}

.content_box{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.border_box{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.flex_box{
    @include sampleBox(100px);
}

.flex1 { background:#1abc9c;}
.flex2 { background:#3498db;}
.flex3 { background:#9b59b6;}
.flex4 { background:#34495e;}
.flex5 { background:#f1c40f;}
.flex6 { background:#e67e22;}

#flex_container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;	
    -webkit-box-pack: justify;	
        -ms-flex-pack: justify;	
            justify-content: space-between;	

    .flex1{ font-size: 44px; }
    .flex2{ font-size: 125px; }
    .flex3{ font-size: 66px; }
    .flex6{ font-size: 92px; }
}

#section_flex_container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    text-align: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;	
    -ms-flex-pack: distribute;	
        justify-content: space-around;	

    .flex1{ font-size: 27px; }
    .flex3{ font-size: 150px; }
    .flex4{ font-size: 68px; }
    .flex5{ font-size: 42px; }
    .flex6{ font-size: 112px; }
}

#grid_container{
    display: grid;
    grid-template-columns: 90px 1fr 55px;
    grid-template-rows: 65px 65px 65px;
    grid-gap: 4px 10px;	

    .grid{
        @include sampleBox(30px);
    }
}

.grid1 { background:#1abc9c;}
.grid2 { background:#3498db;}
.grid3 { background:#9b59b6;}
.grid4 { background:#34495e;}
.grid5 { background:#f1c40f;}
.grid6 { background:#e67e22;}
.grid7 { background:#e74c3c;}
.grid8 { background:#bdc3c7;}
.grid9 { background:#2ecc71;}

#section_grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  	grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-template-areas:
		"one three three three"
		"one four four five"
        "two four four five";
        
    .grid{
        @include sampleBox(100px);
    }

    .grid1 { grid-area: one;}   
    .grid2 { grid-area: two; }
    .grid3 { grid-area: three; }
    .grid6 { grid-area: four; }
    .grid5 { grid-area: five; }
}

main{
    padding-top:10px;

    ul, ol{
        margin-top: 10px;
    }

    section{
        h2{
            background-color: $h2HeadingBgColor;
            color: $h2HeadingFontColor;
            border-radius:8px;
            -webkit-box-shadow: 3px 3px 10px dimgray;
                    box-shadow: 3px 3px 10px dimgray;
            border: 1px solid gray;
            font-size: 19px;
            margin:0px;
            padding: 4px 10px;
            cursor: pointer;
        }

        h3, h4, h5{
            margin:10px;
            font-size: 1.1em;
        }

        table, form, dl, p{
            margin:15px 10px;
        }
    }
}

#section_box_model{
    code{
        @include codeArea($codeAreaBgColor);
    }
}

.lecture_content fieldset{
    margin:10px;
}

footer{
    text-align: center;
    height: 40px;
    background-color: $footerBgColor;
    padding: 7px 10px;

    a:link{
        text-decoration: none;
        font-size: 13px;
        color: $footerFontColor;
    }

    a:visited{
        color: $footerFontColor;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media (max-width: 1000px) {
    #container_boxes {
        grid-template-columns: 325px 325px;
        grid-template-rows: 260px 260px 260px;
    }
}

@media (max-width: 680px) {
    #container_boxes {
        grid-template-columns: 325px;
        grid-template-rows: 260px 260px 260px 260px 260px 260px;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
